a:active {
filter: drop-shadow(0 2px 2px 2px rgba(0, 0, 0, 0.24));

}

.control {
    position: relative;

}

a#retroceder, a#avanzar {
    position: absolute;

    top: 19vw;/*  viewport width - ancho de pantalla, ancho del visor */

     /*Ancho y alto de la <a>*/
    width: 4.4vw;
    height: 7vw;/*Viewport Height - relativo al alto del visor*/
    border: 2px solid black;

      /* paso a ambas la flecha de la derecha */
      background-image: url("../icon/flecha_der.svg");

    background-size: contain;
    background-repeat: no-repeat; /*que no se repita el boton */
    display: block; /* que se vea */
}
a#retroceder {
    left: 10px;  
   
}

a#avanzar {
    right: 10px;
    transform:rotate(180deg);
    /*Giramos 180 grados*/ 
 
}
