/*                        INDEX                           */
/***************** PORTADA ******************/
.portada img {
  width: 100%;
  height: 560px;
}

#imagen .foto {
  display: block;
}

/************** MAIN NUESTRO VALORES  ****************/
main {
  flex-direction: column;
  gap: 50px;
  margin-bottom: 33px;
}

.nuestros_valores {
  justify-content: space-around;
}
.row_reverse {
  flex-direction: row-reverse;
}

.nuestros_valores .art_text {
  width: 460px;
  height: 242px;
  flex-direction: column;
}
.nuestros_valores article img {
  width: 585px;
  height: 340px;
}
.nuestros_valores button, .align_center button {
  width: 175px;
  height: 36px;
}
.nuestros_valores .art_text p {
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}
/************  FIN ASIDE NUESTRO VALORES   **************/

/*                    CONTACTO                   */
/******************** FORMULARIO  *********************/
/* clase del fieldset */
.formulario {
  justify-content: center;
  font-family: var(--font-family-base);
  font-size: 1.125rem;
}
.formulario ul {
  padding: 70px 0 33px 0;
  flex-direction: column;
  gap: 28px;
}
.formulario legend {
  font-size: 2.25rem;
  padding: 2.062em 0 2.062em 0; /*33px*/
  margin: 0 auto;
  text-align: center;
}

/* clase de las li */
.label_normal {
  flex-direction: column;
  gap: 12px;
}

.label_normal textarea, .label_normal input {
  width: 666px;
  height: 36px;/*luego  lo cambio en textarea*/
  font-family: var(--font-family-secundary);
  font-size: 1.125rem; /*18px*/
  background-color: var(--color-background-input);
  color: #7e7e7e;
}

.label_normal textarea {
  height: 194px;
}
.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align_center #politica {
  width: 22px;
}
.align_center label {
  font-size: 0.75rem;/*12px*/
}
/******************* FIN FORMULARIO *******************/

/*            EMPRESA   Y  ESCUELA                    */
/************ MENU PARA EMPRESA Y ESCUELA *************/
.sec_menu_empresa img {
  width: 550px;
  align-items: center;
}
.sec_menu_empresa,
.sec_menu_escuela {
  margin: 33px 109px 0 109px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.sec_menu_empresa article,
.sec_menu_escuela article {
  /* display: flex; */
  flex-direction: column;

  gap: 26px;
  line-height: 24px; /* 150% */
}
.sec_menu_empresa ul li,
.sec_menu_empresa p {
  /* font-size: 1rem; */
  padding-left: 20px;
}
.menu_escuela h2 {
  text-align: center;
}
main span,
.sec_menu_empresa p,
.sec_menu_escuela p {
  font-size: 1.25rem;
  text-align: center;
  margin: 30px;
}

/*******************  FIN MENU PARA ESCUELA Y EMPRESA ********************/

/* politica de privacidad */
article h3 {
  font-size: 2rem;
}
article address {
  text-align: center;
  display: inline;
}
