/*  Utilizo variables para colores, 
fuentes y tamaños comunes 
para facilitar el mantenimiento*/
:root {
--font-family-base: "roboto-regular";
--font-family-secundary: "roboto-light";
--font-size-base: 1rem;
/*uso rem para un diseño sea más flexible y escalable*/

--color-background: #f4f4f4;
--color-background-footer:black;
--color-background-input: rgba(148, 148, 148, 0.1);
--color-primary: #069697;
--color-text: black;
--color-text-inverse: white;
--color-link-hover: underline;
--padding-base: 2.25rem; /*36px*/

--border-radius-base: 2px;
--color-shadow:rgba(0, 0, 0, 0.25);
--color-shadow-active: rgba(0, 0, 0, 0.75);
--box-shadow-base: 0px 2px 2px 0px var(--color-shadow);

}


/*************              BODY                      **********/
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
}

/* esto es general para el nav menu y para breadcrumb */
/* listas */
li {
  list-style-type: none;
}

li a {
  color: var(--color-text);
  text-decoration: none;
}

h1, h2{
  font-size: 3rem;/*48px*/
}

h1 {
  text-align: center;
  padding-top: 0.7em; /*33px-- 68,75% del rem*/
}

button {
  border-radius: var(--border-radius-base);
  background: var(--color-primary);
  color: var(--color-text-inverse);

  box-shadow: var(--box-shadow-base);
}
/*                fin general                        */

/*************          HEADER         *************/
.display_flex {
  display: flex;
}
.justify_content_space_between {
  justify-content: space-between;
}

/* LOGO ESCRITORIO Y MOVIL */
.cabecera {
  font-size: 1.125rem;
  font-family: var(--font-family-base);

  height: 13.9375rem;
  margin: var(--padding-base);
}

.cabecera picture img {
  width: 234px;
}

/************************* BOTON MENU HAMBURGUESA ***********/
#boton {
  display: none;
}

/****************************  NAV  **************************/

/* el profe dice lo correcto crear la clase en el nav para esto */
.nav_menu {
  width: 502px;
  display: block;
  align-self: flex-end;
}

/*enlace que aún no ha sido visitado: las cosas globales,*/
a:link {
  text-decoration: none;
}

/*enlace al "pasar por encima" o tap en una pantalla táctil:*/
a:hover {
  text-decoration: var(--color-link-hover);
}

/*enlace una vez este está mostrándose activo*/
a:active {
  box-shadow: 10px 10px 5px 0px var(--color-shadow-active);
}

/************************************ BREADCRUMBS ******************************************/
.breadcrumb {
  padding: 20px var(--padding-base) 0 var(--padding-base); /*36px*/
}

.breadcrumb li + li::before {
  margin: 0 1.25rem;
  width: 9px;
  height: 13px;
  content: " ";

  background-image: url("../icon/Shape@2x.svg");
  background-repeat: no-repeat;
  background-size: contain;

  display: inline-block;
}

/**cuando es la página actual se pone en negrita**/
.breadcrumb [aria-current="page"] {
  font-weight: 700;
}
/************************ FIN BREADCRUMBS ************************/

/********************* ASIDE NUESTROS MENUS ***********************/
aside {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}
.nuestros_menus {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 108px; 
  padding: 90px 0px 113px 0px;
}
.nuestros_menus div {
  width: 15.9375rem; /*255px */
  height: 372px; /*372px */

  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
/* PICTURE */
.mascara {
  width: 255px;
  height: 255px;

  mask-image: url("../img/Ellipse_2.png");
  -webkit-mask-image: url("../img/Ellipse_2.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.nuestros_menus h3 {
  font-size: 2.125rem;/*34px*/
}

aside h2 {
  padding-top: 54px;
  text-align: center;
}

.nuestros_menus button {
  font-size: 0.875rem;
  width: 102px;
  height: 36px;

}

/*************                 FOOTER                ************/
footer {
  height: 205px;
  background-color: var(--color-background-footer);
  color: var(--color-text-inverse);

  font-size: var(--font-size-base); /* 16px */
  padding: 46px 87px 58px 87px;
}

footer img {
  width: 45px;
  height: 45px;
}

footer a {
  color: var(--color-text-inverse);
}

.grid {
  display: grid;
  grid-template-columns: 205px 289px 168px 45px 45px 45px;

  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.375rem; /* 38px */
}
